.news-top {
  background-color: #698878;
}

.all-news {
  margin: 50px;
}

.news-section {
  margin-bottom: 40px;
}

.dates {
  margin-left: 40px;
  text-align: left;
}

.news-text {
  text-align: left;
  margin-bottom: 30px;
}

.news-image {
  width: 600px;
  height: 450px;
}

.news-image2 {
  width: 600px;
  height: 300px;
}
